$white:#fff;
$dark:#32353C;
$dark-orange:#BB5500;
$orange:#CE8C2E;
$orange-1:#D48D5F;
$gray:#F9F9F9;
$gray-1:#00000029;
$gray-2:#95939324;
$gray-3:#0000000F;
$brwon:#642828;
$dark-gray:#707070;
$dark-gray-1:#32353C96;

