@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/proxima_nova_reg.ttf);
}

@font-face {
  font-family: 'Copperplate';
  src: url(../fonts/copperplate.ttf);
}

@font-face {
  font-family: '';
  src: url(../fonts/Reey-Regular.otf);
}

body {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */